<%= simple_form_for(@market_comparison) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :komoditi %>
    <%= f.input :grosir1 %>
    <%= f.input :grosir2 %>
    <%= f.input :petani %>
    <%= f.input :eceran %>
    <%= f.input :jenis, collection: ["Sayuran", "Beras", "Holtikultura"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit Harga Komoditi" %>
  </div>
<% end %>
