<h1>Listing market_comparisons</h1>

<table>
  <tr>
    <th>Komoditi</th>
    <th>Grosir1</th>
    <th>Grosir2</th>
    <th>Petani</th>
    <th>Eceran</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @market_comparisons.each do |market_comparison| %>
  <tr>
    <td><%= market_comparison.komoditi %></td>
    <td><%= market_comparison.grosir1 %></td>
    <td><%= market_comparison.grosir2 %></td>
    <td><%= market_comparison.petani %></td>
    <td><%= market_comparison.eceran %></td>
    <td><%= link_to 'Show', market_comparison %></td>
    <td><%= link_to 'Edit', edit_market_comparison_path(market_comparison) %></td>
    <td><%= link_to 'Destroy', market_comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Market comparison', new_market_comparison_path %>
