<p id="notice"><%= notice %></p>

<p>
  <b>Komoditi:</b>
  <%= @market_comparison.komoditi %>
</p>

<p>
  <b>Grosir1:</b>
  <%= number_with_precision(@market_comparison.grosir1, :delimiter => ".", :precision => 0) %>
</p>

<p>
  <b>Grosir2:</b>
  <%= number_with_precision(@market_comparison.grosir2, :delimiter => ".", :precision => 0) %>
</p>

<p>
  <b>Petani:</b>
  <%= number_with_precision(@market_comparison.petani, :delimiter => ".", :precision => 0) %>
</p>

<p>
  <b>Eceran:</b>
  <%= number_with_precision(@market_comparison.eceran, :delimiter => ".", :precision => 0) %>
</p>

<p>
  <b>Jenis:</b>
  <%= @market_comparison.jenis %>
</p>


<%= link_to 'Edit', edit_market_comparison_path(@market_comparison), :class => "btn" %> |
<%= link_to 'Back', market_comparisons_path, :class => "btn"  %> 

