<h1>Edit Period</h1>

<table>
  <tr>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tb_periods.each do |tb_period| %>
  <tr>
    <td><%= tb_period.period.strftime("%d-%m-%Y") %></td>
    <!--<td><%= link_to 'Show', tb_period %></td>-->
    <td><%= link_to 'Edit', edit_tb_period_path(tb_period), :class => "btn" %></td>
    <!--<td><%= link_to 'Destroy', tb_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Tb period', new_tb_period_path %>-->
