<div id="boxWrapper">
  <div id="bungkus" class="bg">
    <% @pasars.each do |pasar| %>
      <div id="namapasar<%= pasar.id %>" data-url="<%= pasar.imgbg %>" class="nama-pasar"><%= pasar.nama %>
        <% pasar.komoditis.each do |komoditi| %>
          <div id="itemkomoditi" class="item-komoditi">
            <div class="item-nama"><%= komoditi.nama_komoditi %></div>
            <div class="item-harga"><%= number_with_precision(komoditi.harga, :delimiter => ".", :precision => 0) %></div>
          </div>    
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  
  $(document).ready(function(){
	// $("#center div").length
  // $("#center > div").length
    //document.write($("#bungkus > .nama-pasar").length); //=> return 2
    //document.write($("#bungkus .item-komoditi ").length); //=> return 4
    //document.write($("#namapasar1 .item-komoditi ").length); //=> return 3
    TweenMax.ticker.fps(30);

    var slide_length = $("#bungkus > .nama-pasar").length,
        docHeight = $(document).height(),
        maxItem = 2
        ;
        //tl = new TimelineMax({repeat:1, repeatDelay:1, onComplete:myFunction, onCompleteParams:["satu", "done"]});
        $("#boxWrapper").css({visibility:"visible"});
        TweenLite.set($("#bungkus"), {perspective:'1200px'});
        //$("#boxWrapper").css({visibility:"visible"});

      function initCSS() 
      {
        TweenLite.set($("#bungkus"), {height:docHeight});
      }

      function slideIn(a) 
        {
          var tl = new TimelineMax({repeat:0, repeatDelay:1}),
          letters = $("#namapasar" + a + " div"),
          itemLength = $("#namapasar" + a + " > .item-nama").length,
          myImgBg = $("#namapasar" + a).data("url");
          //manual mode
          //tl 
          //.add(TweenMax.to($(".bg"),1,{opacity:1, backgroundImage:"url(" + myImgBg + ")"}))        
          //.add(TweenLite.from($("#namapasar" + a), 1, {opacity:0}))
          //.staggerFrom(letters, 2, {opacity:0, rotationX:-90, transformOrigin:"50% 0%", ease:Elastic.easeOut}, 0.3);
          
          //auto mode
          for (i = 1; i < maxItem + 1; i++) 
            {              
              tl.add(TweenMax.to($(".bg"),1,{opacity:1, backgroundImage:"url(" + myImgBg + ")"}))
              tl.add(TweenLite.from($("#namapasar" + a), 1, {opacity:0}))
              tl.staggerFrom(letters, 2, {opacity:0, rotationX:-90, transformOrigin:"50% 0%", ease:Elastic.easeOut}, 0.3)       
              ;
              //alert (i);
            }   
          return tl;
        }

        function slideOut(b) 
        {
          var tl = new TimelineMax({repeat:0, repeatDelay:1}),
          letters = $("#namapasar" + b+ " div");          
          tl.staggerTo(letters, 1, {opacity:0}, 0.2)
            .add(TweenLite.to($("#namapasar" + b), 0.5, {opacity:0}))
          ;
            //.staggerTo(letters, 0.3, {scale:0.8}, 0.3, 0.7);
          return tl;
        }

      function createMasterTimeline() 
        {
          var timeline = new TimelineMax({repeat:-1, repeatDelay:1});
          for (i = 1; i < slide_length+1; i++) 
            {              
              if (i==1) {
                timeline.add(slideIn(i), 0)
              } else {
                timeline.add("in"+ i, "+=1")  
                timeline.add(slideIn(i), "in"+ i)
              }                            
              timeline.set($("#namapasar" + i), {autoAlpha:1})
              timeline.add("out"+ i, "+=1")
              timeline.add(slideOut(i), "out"+ i)            
              ;
              //alert (i);
            }          
          timeline.timeScale(1) 
        }  

        //set the stage
        initCSS();
        //call the player
        createMasterTimeline();
        

  });
  </script>