<h1>Listing pasars</h1>

<table>
  <tr>
    <th>Nama</th>
    <th>Lokasi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pasars.each do |pasar| %>
  <tr>
    <td><%= pasar.nama %></td>
    <td><%= pasar.lokasi %></td>
    <td><%= pasar.imgbg %></td>
    <td><%= link_to 'Show', pasar %></td>
    <td><%= link_to 'Edit', edit_pasar_path(pasar) %></td>
    <td><%= link_to 'Destroy', pasar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pasar', new_pasar_path %>
